{% extends 'origin.html' %}
<!--  -->

{% block section %}
<div 
  style="
    height: 100vh;
  "
>
  <div 
    style="
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    "
  >
    <p>Login</p>
    <form onsubmit="alert('Fuck off !')">
      <div>
        <label> Email </label>
        <input class="input" />
      </div>
      <div>
        <label> Password </label>
        <input class="input" type="password" />
      </div>
      <div>
        <button type="submit">
          Access
        </button>
        <a href="/signup">
          Sign up
        </a>
      </div>
    </div>
  </form>
</div>
{% endblock section %}
