.user-card-container {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: flex-start;
    height: 100%;
    padding: 3rem; 
    gap: 1rem;
    position: relative;
}

.card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-form-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem 0;
}

.card-form-input-group {
    display: flex;
    align-items: center;
}

.card-form-input {
    border: none;
    background-color: var(--bg-form-light);
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
}

.card-form-element > label {
    margin: 0.3rem 0;
}

.card-form-element-icon {
    position: absolute;
    right: 0;
    padding-right: 1rem;
    cursor: pointer;
}

.card-form-img {
    border-radius: 50%;
    margin: 1rem auto;
}

.card-form-img-input {
    color: transparent;
}

.card-form-img-input::-webkit-file-upload-button {
    visibility: hidden;
}

.card-form-img-input::before {
    content: "Edit";
    display: inline-block;
    border: 1px solid black;
    padding: 0.3rem 1rem;
    outline: none;
    cursor: pointer;
    user-select: none;
    color: black;
}

.input-with-icon {
    position: relative;
}

.card-confirmed-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-card-btn {
    position: absolute;
    bottom: 0;
}
