.navigation-container {
    background-color: var(--bg-dark-primary);
}

.navigation {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-header {
    flex-grow: 1;
}

.nav-title {
    color: white;
    font-weight: 700;
}

.nav-section {
    list-style-type: none;
}

.user-avatar {
    border-radius: 50%;
}

.user-avatar:hover {
    transform: scale(1.1);
}

/* Navbar Dropdown */
.dropdown-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    background-color: #3b4252;
    right: 0;
    margin-right: 0.5rem;
    margin-top: 1rem;
    padding: 0;
    border-radius: 0.7rem;
    z-index: 9999999;
}

.dropdown-element {
    padding: 0.1rem 1rem;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
}

.dropdown-element:nth-child(odd) {
    border-bottom: 1px solid #d8dee9;
}

.dropdown-element > p:hover, .link-element:hover {
    opacity: 70%;
    color: #2bfb82;
}
