.navigation-container {
    background-color: var(--bg-dark-primary);
}

.navigation {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: white;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    width: 100%;
}

.nav-title:hover {
    color: white;
}

.nav-section {
    list-style-type: none;
}

.user-avatar {
    border-radius: 50%;
}

.user-avatar:hover {
    opacity: 90%;
}

/* Navbar Dropdown */
.dropdown-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    background-color: #2E3440;
    right: 0;
    margin-right: 0.5rem;
    margin-top: 1rem;
    padding: 0;
    border-radius: 0.7rem;
    z-index: 999;
}

.dropdown-element {
    padding: 0.5rem 0.6rem;
    color: white;
    font-weight: 500;
}

.dropdown-element:nth-child(odd) {
    border-bottom: 1px solid #d8dee9;
}

.dropdown-element:hover {
    opacity: 70%;
    color: #2bfb82;
}
