.user-modal {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-sizing: border-box;
}

.add-user-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 3rem 1rem;
}

.user-form-input-group {
    display: flex;
    flex-direction: column;
}

.user-form-password-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}

.user-form-label {
    font-size: 18px;
    margin-bottom: 0.3rem;
}

.user-form-label-password {
    font-size: 14px;
}

.user-form-input {
    width: 100%;
    padding: 0.5rem 3rem;
    outline: none;
    margin: 0.7rem 0;
    border: none;
    background-color: #eceff4;
    box-sizing: border-box;
}

.user-form-input-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-icon {
    z-index: 99;
    padding-left: 1.8rem !important;
}

.input-error {
    margin-bottom: 0.5rem !important;
}

.btn-group-v {
    padding-top: 1rem;
}